<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1033214008641-n1orjkmeg6a7hp8e7rcpekt5uu7olnbn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1033214008641-n1orjkmeg6a7hp8e7rcpekt5uu7olnbn</string>
	<key>API_KEY</key>
	<string>AIzaSyAuy87uqfnrPTzCP9dV6UfX8ZG8PVRZTfo</string>
	<key>GCM_SENDER_ID</key>
	<string>1033214008641</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myFoodApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>myfoodapp-f5b1f</string>
	<key>STORAGE_BUCKET</key>
	<string>myfoodapp-f5b1f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1033214008641:ios:0b792af0fb6da6752355c0</string>
</dict>
</plist>